.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        &__item {
            background-color: #13151d;
            list-style: none;
            margin-bottom: 16px;

            &__question {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0px;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .6s ease;

                &__bullet {
                    list-style-type: disc;
                    padding-left: 40px;
                    margin-top: 16px;
                }

                &__bottom {
                    margin-bottom: 16px;
                }
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                }

                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .6s ease;
                }
            }
        }
    }
}