@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$cor-de-fundo;
    transition: background-color .7s ease-out;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .7s ease-out;

        .header {
            &__logo,
            &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: .7s ease-out;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            padding: 0px 12px 0px 20px;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 10px 5px 0px;
        transition: opacity .7s ease-out;

        @media (max-width: 768px) {
            max-width: 64px;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity .7s ease-out;
            list-style: none;
        }
    }

    .button {
        height: 50px;

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
        }
    }
}
